<h1>(自分の題名)</h1>
<h3>新規投稿ページ</h3>
<%= form_for @makura do |f| %>

# データ型がstringで自由記述の入力フォーム
  <div class="field">
    <%= f.label :iei %>
    <%= f.text_field :name, :size => 30 %>
  </div>

# データ型がstringで選択式の入力フォーム
  <div class="field">
    <%= f.label :ikeru %>
    <%= f.select :body, 
    [["A", "A"], 
    ["B", "B"], 
    ["C", "C"]], include_blank: "選択して下さい" %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", makuras_path %>